<article class="listing">
  <a>
    <img src="{{spy.image}}" alt="">
    <small>Agrandar Imagen</small>
  </a>
  <h3></h3>
  <div class="detail type">
    <span>Tipo:</span> </div>
  <div class="detail city">
    <span>Ciudad:</span> </div>
</article>

{{#link-to 'about' class="button"}}
    Contrata Ahora!
  {{/link-to}}

{{outlet}}
